﻿@model  DemoBook.Models.ViewModels.UserRegistrationModel
@{
	ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Authorize"))
{
	@Html.AntiForgeryToken()

	<div class="row">
		<div class="col-md-1">
			<p class="h4">UserName:</p>
		</div>
		<div class="col-md-1 col-md-offset-1">
			@Html.TextBoxFor(x => x.Name)
		</div>

	</div>
	<div class="row">
		<div class="col-md-1">
			<p class="h4">Password:</p>
		</div>
		<div class="col-md-1 col-md-offset-1">
			@Html.TextBoxFor(x => x.Password, new { type = "password" })
		</div>
	</div>
	<div class="col-md-offset-2 ">
		<button type="submit" class="btn btn-primary ">Login</button>
	</div>

	<div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	</div>
}

