﻿@model DemoBook.Models.ViewModels.UserRegistrationModel

@{
	ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using (Html.BeginForm("Registration", "Authorize"))
{
	@Html.AntiForgeryToken()

	<div class="row">
		<div class="col-md-1">
			<p class="h4">UserName:</p>
		</div>
		<div class="col-md-1 col-md-offset-1">
			@Html.TextBoxFor(x => x.Name)
			@Html.ValidationMessageFor(x => x.Name,"" , new { @class = "text-danger" })
		</div>

	</div>
	<div class="row">
		<div class="col-md-1">
			<p class="h4">Password:</p>
		</div>
		<div class="col-md-1 col-md-offset-1">
			@Html.TextBoxFor(x => x.Password, new { type = "password" })
			@Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="col-md-offset-2 ">
		<button type="submit" class="btn btn-primary ">Registration</button>
	</div>
	
	<div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	</div>
}

